.container
  hr
  .row-fluid
    .span12
      .span8
        a(href='#') Termos e Serviço
        a(href='#') Privacidade
        a(href='#') Segurança
      .span4
        p.muted.pull-right Carona Fatec
